
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

h2 {
    text-align: center;
    margin: 20px 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}
ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Employee Form */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}
label {
    margin-bottom: 10px;
}
input, select, button {
    padding: 8px;
    margin-top: 5px;
}
button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
